span {
    transition: .3s ease-in-out;
    font-weight: 700;
    font-size: 1.5rem;
}
.resetNumb, button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    opacity: .7;
    transition: .3s ease-in-out;
}
button:hover {
    opacity: 1;
}
.divCounter {
    border: dotted 3px rgb(35, 133, 186);
    border-radius: 20px;
    padding: 10px 20px;
    min-width: 300px;
}
